.button {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background-color: #266dff;
  border: 1px solid transparent;
  border-radius: var(--rounded);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  max-width: fit-content;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.button > svg {
  transform: scale(0.8);
}
.button:hover {
  background-color: #1a4db7;
}
.button:disabled {
  background-color: #515e79;
  cursor: not-allowed;
}
.button:focus {
  border: 1px solid #fff;
}
.label {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.input {
  outline: none;
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: var(--rounded);
  padding: 0.5rem;
  width: 15ch;
}
.input:focus {
  border: 1px solid #fff;
}
