.header {
  position: relative;
  background: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  align-items: center;
}
.header > h1 {
  font-weight: bold;
}
.roundedPrev,
.roundedAfter {
  z-index: -1;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50px;
  background: var(--secondary-color);
}
.roundedPrev {
  left: 0;
}
.roundedAfter {
  right: 0;
  transform: rotateZ(90deg);
}
.circle {
  clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);
  border-radius: 15px;
  width: 100px;
  height: 100px;
  background: var(--primary-color);
}
