.videoContainer {
  position: relative;
  height: fit-content;
  max-height: 100%;
  aspect-ratio: 16/9;
  margin: auto;
  border-radius: var(--rounded);
  overflow: hidden;
}
.video {
  width: 100%;
}
